        <!-- <section id="footer">
            <div class="container">
                <p>&copy 2019 ReviewMyResume</p>
            </div>
        </section> -->

        <!-- Common JS -->
        <script src="/scripts/common.js"></script>

    </body>
</html>
