<nav id="mainNavBar" class="navbar fixed-top navbar-expand-md navbar-light bg-light">

  <a href="/dashboard" class="navbar-brand">ReviewMyResume</a>

  <button id="toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
      <% if (page == "gallery") { %>
        <a href="/dashboard" class=" nav-btn" data-toggle="tooltip" data-placement="bottom" title="back to dashboard"><i class="fas fa-arrow-left"></i></a>
      <% } else if (page == "resume") { %>
        <a href="/resumes" class="nav-btn" data-toggle="tooltip" data-placement="bottom" title="back to gallery"><i class="fas fa-arrow-left"></i></a>
      <% } else if (page == "edit") { %>
        <a href="/resumes" class="nav-btn" data-toggle="tooltip" data-placement="bottom" title="back to gallery"><i class="fas fa-arrow-left"></i></a>
      <% } else if (page == "upload") { %>
        <a href="/dashboard" class="nav-btn" data-toggle="tooltip" data-placement="bottom" title="back to dashboard"><i class="fas fa-arrow-left"></i></a>
      <% } %>
      <a href="/logout" class="nav-btn" data-toggle="tooltip" data-placement="bottom" title="log out"><i class="fas fa-sign-out-alt"></i></a>
    </ul>
  </div>
</nav>
