<% include ./partials/header-top %>

    <title>dashboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">

<% include ./partials/header-bot %>
<% include ./partials/navbar %>

    <div id="content" class="py-5">

        <div class="container">

            <div class="row">
                <div class="col col-6">
                    <div class="row block block-1 py-3 mb-3 mr-1">
                        <h5><a href="/resumes/upload">upload</a> your resume</h5>
                    </div>
                    <div class="row block block-2 py-3 mr-1">
                        
                    </div>
                </div>
                <div class="col col-6">
                    <div class="row block block-2 py-3 ml-1">
                        Resume Gallery
                    </div>
                    <div class="row block block-1 py-3 mt-3 ml-1">
                        <h5>view your resume</h5>
                    </div>
                            
                </div>
            </div>

        </div>

    </div>
    

<% include ./partials/footer %>
