<% include ./partials/header-top %>

    <title>login</title>
    <!-- <link rel="stylesheet" href="/stylesheets/login.css"> -->

<% include ./partials/header-bot %>

    <h1>Dashboard</h1>

    <a href="/upload_resume">
        <button>Upload Resume</button>
    </a>
    <a href="/resumes">
        <button>View resumes</button>
    </a>
<% include ./partials/footer %>
