<% include ./partials/header-top %>

    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">

<% include ./partials/header-bot %>
<% include ./partials/navbar %>


<% include ./partials/footer %>
