<% include ./partials/header %>

    <h1>Welcome to ReviewMyResume</h1>
    <% if (currentUser){ %>
        <a href="/resumes">
            <button>Upload Resume</button>
        </a>
        <a href="/resumes/list">
            <button>View resumes</button>
        </a>
        <a href="/logout">
            <button>log out</button>
        </a>
    <% }else{ %>
        <a href="/login">
            <button>log in</button>
        </a>
        <a href="/register">
            <button>register</button>
        </a>
    <% } %>

<% include ./partials/footer %>
