<% include ./partials/header-top %>

  <title>ReviewMyResume</title>

  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/background_animated.css">

<% include ./partials/header-bot %>

  <section id="content" class="container d-flex flex-column align-items-center justify-content-center">
    <h1 class="header title">ReviewMyResume</h1>
    <h2 class="tagline">Building better employment opportunities and pathways for young people around the world.</h2>
    <div class="form-group row justify-content-center">
      <a href="/login" id="log-in-btn" class="mt-4 btn">Continue</a>
    </div>
  </section>

<% include ./partials/footer %>
