<% include ./partials/header %>

    <h2>Log In</h2>

    <form action="/login" method="POST">
        <label for="uname">username</label>
        <input type="text" name="username" id="uname" placeholder="john"><br>
        <label for="password">password</label>
        <input type="password" name="password" id="password" placeholder="*****"><br>
        <button>log in</button>
    </form>

<% include ./partials/footer %>
