<h2>Reviewer Log In</h2>

<form action="/reviewer/login" method="POST">
    <label for="uname">username<br></label>
    <input type="text" name="reviewer[username]" id="uname" placeholder="johnny69"><br>
    <label for="password">password</label><br>
    <input type="password" name="reviewer[password]" id="password"><br>
    <button>login</button>
</form>