<h2>Log In</h2>

<form action="/login" method="POST">
    <label for="uname">username</label>
    <input type="text" name="user[username]" id="uname" placeholder="johnny69">
    <label for="password">password</label>
    <input type="password" name="user[password]" id="password">
    <button>login</button>
</form>