<h2>Register</h2>

<form action="/register" method="POST">
    <label for="fname">first name</label>
    <input type="text" name="user[fname]" id="fname" placeholder="john">
    <label for="lname">last name</label>
    <input type="text" name="user[lname]" id="lname" placeholder="doe">
    <label for="uname">username</label>
    <input type="text" name="user[username]" id="uname" placeholder="johnny69">
    <label for="password">password</label>
    <input type="password" name="user[password]" id="password">
    <button>register</button>
</form>