<h2>Reviewer Register</h2>

<form action="/reviewer/register" method="POST">

    <label for="fname">first name</label><br>
    <input type="text" name="reviewer[fname]" id="fname" placeholder="john" required><br>

    <label for="lname">last name</label><br>
    <input type="text" name="reviewer[lname]" id="lname" placeholder="doe" required><br>

    <label for="email">email</label><br>
    <input type="email" name="reviewer[email]" id="email" placeholder="johnd@domain.com" required><br>

    <label for="company">company</label><br>
    <input type="text" name="reviewer[company]" id="company" placeholder="google" required><br>

    <label for="linkedin">linkedin URL</label><br>
    <input type="text" name="reviewer[linkedin]" id="linkedin" placeholder=""><br>
    
    <!-- Will update this to dropdown -->
    <label for="country">country</label><br>
    <input type="text" name="reviewer[country]" id="country" placeholder="" required><br>

    <label for="uname">username</label><br>
    <input type="text" name="reviewer[username]" id="uname" placeholder="johnny69" required><br>

    <label for="password">password</label><br>
    <input type="password" name="reviewer[password]" id="password" required><br><br>

    <button>register</button><br>
</form>