body {
  background-image: linear-gradient(135deg, #90C1E0, #6f86d6 30%, #b5aee4 60%, #9795d4 70%, #7e7ebb 80%, #65689f 90%, #505285 100%);
  background-size: 400% 400%;
  animation: Gradient 25s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
