body{
  min-height: 100%;
  background-image: linear-gradient(-45deg, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.navbar{
  background-image: linear-gradient(-225deg, #505285 0%, #9795d4 53%, #a2a1dc 100%);
}

.block{
  background-image: linear-gradient(-225deg, #a2a1dc 0%, #8A8ACF 100%);
}

.filter {
  background-image: linear-gradient(-225deg, #9795d4 0%, #a2a1dc 100%);
}