.alert{
    color: white;
    text-align: center;
    border-radius: 4px;
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
    top: 50px;
  }
  
.alert-danger{
    border-color: red;
    background-color: red;
}

.alert-success{
    border-color: rgb(2, 145, 145);
    background-color:  rgb(2, 145, 145);
} 

html{
  height: 100%;
}

body{
  min-height: 100%;
  background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
}

.header{
  font-family: 'Oleo Script', Helvetica, sans-serif;
}

.btn{
  border: 1px solid white;
  color: white;
  transition: 250ms;
}

.btn:hover{
  background: white;
}

/*============================NAVBAR STYLING==================================*/

.navbar{
  background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
  background-repeat: no-repeat;
}

.navbar .navbar-brand{
  font-family: 'Oleo Script', Helvetica, sans-serif;
  color: white;
}

.navbar .nav-link{
  color: white !important;
}