#content{
    margin-top: 10vh;
    padding-top: 15vh;
}

body{
    background: white;
}

.block{
    border-radius: 4px;
    transition: 500ms;
}

.block-1{
    height: 10vh;
}

.block-2{
    height: 40vh;
}

.block-1 h4{
    font-weight: 200;
}

.block-1 h4 span{
    font-weight: 600;
}

a{
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
}

.block:not(#notifs):hover{
    transform: scale(1.02) perspective(1px);
    cursor: pointer;
}

.block-2 h5{
    font-weight: 600;
}

@media(min-width: 380px){

    body{
        overflow: hidden;
    }
}

.notification{
    background: white;
    border-radius: 4px;
    display: inline-block;
}

.notification p{
    margin-bottom: 0;
}

.alert-text{
    color: #3a3a3a;
}

.alert-type{
    color: gray;
}

.alert-sender-reviewer, .alert-sender-student{
    color: #3a3a3a
}
