#content{
    margin-top: 10vh;
    padding-top: 15vh;
}

body{
    background: white;
}

.block{
    background: #7e7ebb;
    border-radius: 4px;
    transition: 500ms;
}



.block-1{
    height: 10vh;
}

.block-2{
    height: 40vh;
}

.block-1 h4{
    font-weight: 200;
}

.block-1 h4 span{
    font-weight: 600;
}

a{
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
}

.block:hover{
    transform: scale(1.02) perspective(1px);
    cursor: pointer;
}

.block-2 h5{
    font-weight: 600;
}

@media(min-width: 380px){

    body{
        overflow: hidden;
    }

}
