#mainNavBar{
    background-image: none;
    background-color: transparent !important;
}

#form {
    margin-top: 25vh;
}

#country{
    color: gray;
    padding: 0;
}

#type{
    color: gray;
}

.to-blue {
    animation: reverse ToPurple 0.8s ease-in;
    background-position: 0% 0%
}

.to-purple {
    animation: ToPurple 0.8s ease;
    background-position: 100% 60%
}

.reviewer-info{
    display: none;
}

body {
    background-image: linear-gradient(135deg, #90C1E0, #6f86d6 30%, #b5aee4 60%, #9795d4 70%, #7e7ebb 80%, #65689f 90%, #505285 100%);
    background-size: 400% 400%;
}

input{
    background: white;
    text-align: center;
    border-radius: 2px;
}

form{
    width: 100%;
}

select{
    min-width: 330px;
    text-align-last:center;
}

input, select{
  border: none !important;
}

@keyframes ToPurple {
	from {
            background-position: 0% 0%
	}
	to {
            background-position: 100% 60%
	}
}

@media(max-width: 375px){

    body{
        overflow: hidden;
    }

    #fname{
        margin-bottom: 0.75rem;
    }

    #country{
        font-size: 0.75rem;
    }
}
