.reviewer-info{
    display: none;
}

select{ 
    width: 420px !important; 
    text-align-last:center;
}

/* .failed-input{
    background: rgb(223, 81, 112) !important;
}

.failed-input::placeholder { 
    color: white !important;
    opacity: 1; 
}
  
.failed-input:-ms-input-placeholder { 
    color: white !important;
}

::-ms-input-placeholder { 
    color: white !important;
} */

#country{
    color: gray;
}

@media(max-width: 375px){

    body{
        overflow: hidden;
    }

    #fname{
        margin-bottom: 0.75rem;
    }

    #country{
        font-size: 0.75rem;
    }
}