.resume {
  background-color: #E5E5E5;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  transition: 500ms;
}

.filter {
  margin-top: 120px;
  padding: 15px;
  border-radius: 10px;
}

.request-mark {
  position: absolute;
  padding: 2px 3px;
}

.resume:hover {
  transform: scale(1.15) perspective(1px);
}

.content {
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  width: 80%;
  margin-top: 50px;
}

.thumb {
  height: 250px;
  padding-top: 15px;
  overflow: hidden;
}

.header {
  z-index: 2;
  font-size: 15px;
  height: 80px;
  position: fixed;
  width: 100vw;
  background-image: linear-gradient(-225deg, #505285 0%, #9795d4 53%, #a2a1dc 100%)
}

.header h1 {
  margin: 0;
}

.tag{
  border-radius: 12px;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: white;
  transition: 350ms;
}

.tag-1{
  border: 1px solid rgb(126, 231, 207);
  background: rgb(126, 231, 207);
}

.tag-2{
  border: 1px solid rgb(158, 235, 133);
  background: rgb(158, 235, 133);
}

.resume p, .tag p{
  margin-bottom: 0
}

.resume p{
  display: inline-block;
  padding: 0;
}

.resume .author{
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgb(48, 48, 48);
  font-size: 0.9rem;
}

.student-resume{
  background-color: rgb(146, 201, 247);
  background-image: linear-gradient(-135deg, rgb(146, 201, 247) 0%, #88a3dd 74%);
}

.review-resume{
  background-color: #8786b6;
  background-image: linear-gradient(-225deg, #8786b6 0%, #b5b4eb 74%);
}

.tag p{
  font-size: 0.8rem;
}

.form-control{
  border: none;
}

.filter h5{
  font-weight: 400;
  width: 30%;
  margin-bottom: 0;
  padding-top: 6px;
  display: inline-block;
}

.thumb img{
  border-radius: 2px;
  max-height: 220px !important;
  overflow: hidden;
}

.resume i{
  background: -webkit-linear-gradient(45deg, gold 0%, #ffbd71 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.15rem;
}

.unrated{
  color: #3a3a3a;
}

.count{
  color: gray;
}

body {
  background-color: white;
  background-image: none;
}

option {
  text-align: left;
}

select {
  text-align: center;
  text-align-last: center;
}

a:hover{
  text-decoration: none;
}