body {
  background-color: white;
  background-image: none;
}

.resume {
  background-color: #E5E5E5;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  transition: 500ms;
}

.filter {
  margin-top: 120px;
  padding: 15px;
  border-radius: 10px;
  /* background-color: #E5E5E5; */
}

.resume:hover {
  transform: scale(1.15) perspective(1px);
}

.content {
  min-height: 100vh;
  height: auto;
  /* background-color: #f9f9f9; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 80px;
}

.resume-text {
  /* height: 50px; */
}

.thumb {
  height: 250px;
  padding-top: 15px;
}

.header {
  z-index: 2;
  font-size: 15px;
  height: 80px;
  position: fixed;
  width: 100vw;
  background-image: linear-gradient(-225deg, #505285 0%, #9795d4 53%, #a2a1dc 100%)
}

.header h1 {
  margin: 0;
}

.tag{
  border-radius: 12px;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: white;
  transition: 350ms;
}


.tag-1{
  border: 1px solid rgb(126, 231, 207);
  background: rgb(126, 231, 207);
}

.tag-1:hover{
  border: 1px solid rgb(126, 231, 207);
  background: rgb(126, 231, 207);
}

/* .tag-2{
  border: 1px solid rgb(152, 180, 236);
  background: rgb(152, 180, 236);
}

.tag-2:hover{
  border: 1px solid rgb(152, 180, 236);
  background: rgb(152, 180, 236);
} */

.tag-2{
  border: 1px solid rgb(158, 235, 133);
  background: rgb(158, 235, 133);
}

.tag-2:hover{
  border: 1px solid rgb(139, 224, 110);
  background: rgb(139, 224, 110);
}

.resume p, .tag p{
  margin-bottom: 0
}

.resume p{
  display: inline-block;
  padding: 0;
}

.resume .author{
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgb(48, 48, 48);
  font-size: 0.9rem;
}

.student-resume{
  background-color: #90C1E0;
  background-image: linear-gradient(45deg, rgb(123, 192, 248) 0%, #88a3dd 74%);
}

.review-resume{
  background-color: #c07df7;
  background-image: linear-gradient(45deg, #c07df7 0%, #9e7df7 74%);
}

.tag p{
  font-size: 0.8rem;
}

a:hover{
  text-decoration: none;
}

select {
  text-align: center;
  text-align-last: center;
  /* webkit*/
}

.form-control{
  border: none;
}

option {
  text-align: left;
  /* reset to left*/
}

.filter h5{
  font-weight: 400;
  width: 30%;
  margin-bottom: 0;
  padding-top: 6px;
  display: inline-block;
}

.thumb img{
  border-radius: 2px;
  max-height: 24vh !important;
  overflow: hidden;
}

.resume i{
  background: -webkit-linear-gradient(45deg, gold 0%, #ffbd71 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
}