.body {
  background-color: white;
  background-image: none;
}

.resume {
  background-color: #E5E5E5;
  color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content {
  height: 100vh;
  background-color: snow;
  overflow: hidden;
}
.resume-text {
  height: 50px;
}
.thumb {
  height: 200px;
}
.header {
  height: 80px;
  position: fixed;
  width: 100vw;
  background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%)
}
.row {
  margin-top: 160px;
}
