body {
  width: auto;
}

#resume_frame {
  width: 100%;
  border-radius: 6px;
  border: none;
}

#mainNavBar{
  background-image: none;
  background-color: transparent !important;
}

#desc {
  background-color: white;
  border-radius: 6px;
  color: rgb(107, 107, 107);
}

.header {
  padding-top: 60px;
  padding-bottom: 15px;
}

.tag{
  border-radius: 12px;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: white;
  transition: 350ms;
}

.tag-1{
  border: 1px solid rgb(126, 231, 207);
  background: rgb(126, 231, 207);
}

.tag-1:hover{
  border: 1px solid rgb(126, 231, 207);
  background: rgb(126, 231, 207);
}

.tag-2{
  border: 1px solid rgb(158, 235, 133);
  background: rgb(158, 235, 133);
}

.tag-2:hover{
  border: 1px solid rgb(139, 224, 110);
  background: rgb(139, 224, 110);
}

.tag:hover{
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.tag p{
  margin-bottom: 0;
}

.title{
  font-weight: bold;
}

iframe{
  border-radius: 4px;
}

.comment-btn{
  border: 1px solid rgb(122, 166, 255);
  color: rgb(122, 166, 255);
  border-radius: 5px;
  width: 100%;
  transition: 500ms;
  background: white;
}

.comment-btn:hover{
  color: white;
  background: rgb(122, 166, 255);
  cursor: pointer;
}

.comment{
  border-radius: 4px;
  margin: 5px;
  padding: 2px;
  background: #EEEEEE;
}

.comment .author{
  display: inline-block;
  padding-left: 7.5px;
  padding-right: 7.5px;
  border-radius: 12px;
  color: rgb(48, 48, 48);
  font-size: 0.75rem;
}

.student-comment .author{
  background-color: rgb(146, 201, 247);
  background-image: linear-gradient(-135deg, rgb(146, 201, 247) 0%, #88a3dd 74%);
}

.review-comment .author{
  background-color: #8786b6;
  background-image: linear-gradient(-225deg, #8786b6 0%, #b5b4eb 74%);
}

.review-comment{
  border: 2px solid #7f7ecf;
  border-radius: 4px;
}

.comment p{
  margin-bottom: 0;
}

.comment .submit-btn, .comment span{
  color: gray !important;
  font-size: 0.6rem;
}

.comment input{
  background: none;
  border: none;
  color: gray;
  font-size: 0.75rem;
}

.comment input:hover{
  cursor: pointer;
  text-decoration: underline;
}

.comment input:focus{
  outline: none;
}

.comment .comment-text{
  font-size: 0.9rem;
}

.review-comment a, .review-comment span{
  color: rgb(238, 238, 238);
}

.comments{
  overflow-y: scroll;
  padding: 5px;
  border-radius: 6px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.del-btn{
  position: absolute;
  right: 5px;
  top: 5px;
  color: rgb(168, 168, 168);
  font-size: 2rem;
  border: none;
  background: none;
  font-size: 1.5rem;
}

.del-btn:hover{
  color: #dc3545;
  cursor: pointer;
}

.del-btn:focus{
  outline: none;
}


.modal i{
  color: #dc3545;
}

@media(min-width: 380px){

    #desc{
      height: 80vh;
    }

    .comments{
      max-height: 220px;
    }

    #resume_frame{
      min-height: 80vh;
    }
}

.tag a{
  color: white;
}

.tag a:hover{
  text-decoration: none;
}

.rating p{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.fa-star:not(.r-star){
  color: gold;
}

.r-star.unlocked{
  cursor: pointer;
}

.submit-btn{
  border: 2px solid gray;
  color: gray;
  font-size: 0.8rem;
  margin-left: 10px;
  padding: 2px;
}

.submit-btn:hover{
  color: white;
  background: gray;
}

.btn-warning{
  color: white;
}

#rating{
  display: none;
}

.modal button{
  cursor: pointer;
  transition: 300ms;
}

.info .submit-btn{
  border: none;
}

.info .submit-btn:hover{
  background: #EEEEEE;
  border: none;
  text-decoration: underline;
}

.modal .close span{
  font-size: 1.5rem;
}

*:focus{
  outline: none !important;
}

.modal h5 span{
  font-size: 0.85rem !important;
}

.r-star.locked{
  color: rgb(107, 107, 107);
}

.count{
  color: gray;
}

