body {
  width: auto;
}

#resume_frame {
  width: 100%;
  border-radius: 6px;
  border: none;
}

#desc {
  background-color: white;
  border-radius: 6px;
  color: rgb(107, 107, 107);
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
} 

.tag{
  border-radius: 12px;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 7.5px;
  padding-right: 7.5px;
  color: white;
}

.tag-1{
  border: 1px solid rgb(151, 225, 255);
  background: rgb(151, 225, 255);
}

.tag-2{
  border: 1px solid rgb(158, 235, 133);
  background: rgb(158, 235, 133);
}

.tag p{
  margin-bottom: 0;
}

.title{
  font-weight: bold;
}

iframe{
  border-radius: 4px;
}

.comment-btn{
  border: 1px solid rgb(122, 166, 255);
  color: rgb(122, 166, 255);
  border-radius: 5px;
  width: 100%;
  transition: 500ms;
}

.comment-btn:hover{
  color: white;
  background: rgb(122, 166, 255);
  cursor: pointer;
}

.comment{
  /* border: 1px solid rgb(223, 223, 223);  */
  border-radius: 4px;
  margin: 5px;
  padding: 2px;
}
.review-comment{
  background-color: #a88beb;
  /* background-image: linear-gradient(0deg, #f8ceec 0%, #a88beb 74%); */
  color: rgb(48, 48, 48);
}

.comment .author{
  display: inline-block;
  padding-left: 7.5px;
  padding-right: 7.5px;
  border-radius: 12px;
  color: rgb(48, 48, 48);
  font-size: 0.75rem;
}

.student-comment .author{
  background-color: #fad0c4;
  background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
}

.review-comment .author{
  background-color: #fec84e;
  background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
  
}

.student-comment{
  background: #EEEEEE;
}

.comment p{
  margin-bottom: 0;
}

.comment a, .comment span{
  color: gray;
  font-size: 0.75rem;
}

.comment input{
  background: none;
  border: none;
  color: gray;
  font-size: 0.75rem;
}

.comment input:hover{
  cursor: pointer;
  text-decoration: underline;
}

.comment input:focus{
  outline: none;
}

.comment .comment-text{
  font-size: 0.9rem;
}

.review-comment a, .review-comment span{
  color: rgb(238, 238, 238);
}

.comments{
  overflow-y: scroll;
  padding: 5px;
  border-radius: 6px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
  
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
  background: #999;  
}

.del-btn{
  position: absolute;
  right: 5px;
  top: -5px;
  color: rgb(168, 168, 168);
  font-size: 2rem;
  border: none;
  background: none;
}

.del-btn:hover{
  color: rgb(83, 83, 83);
  cursor: pointer;
}

.del-btn:focus{
  outline: none;
}

.modal i{
  color: #dc3545;
}

@media(min-width: 380px){

    #desc{
      height: 80vh;
    }

    .comments{
      height: 220px;
    }

    #resume_frame{
      min-height: 80vh;
    }
}